@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@800&family=El+Messiri:wght@600&display=swap");

html,
body {
  height: 100%;
}
.img {
  background-image: url(./imgs/back1.png);
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  background-size: 100% 100%;
}
.container-fluid {
  height: 100%;
}
.calculate-text {
  font-size: max(50px, 50px);
  font-family: "Almarai", sans-serif;

  color: white;
}
.cover {
}
.naj7-rasib {
  font-size: max(40px, 40px);
  padding-top: 10px;
  color: gainsboro;
  max-lines: 1;

  padding: 20px 0px 0px 0px;
}
.cover img {
  max-width: 50%;
  min-width: 30%;
  flex: 1;
  overflow: hidden;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 667px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
.text {
  max-width: 100px;
  max-height: 200px;
  padding-bottom: 305px;
}
#btn1 {
  width: 290px;
  background-color: whitesmoke;
  height: 60px;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: #1c2242;
  text-align-last: center;
  font-size: 20px !important ;
  font-family: "Almarai", sans-serif;
}
#btn2 {
  width: 290px;
  background-color: whitesmoke;
  height: 60px;
  justify-content: center;
  cursor: pointer;
  border: none;
  color: #1c2242;
  text-align-last: center;
  font-size: 20px !important ;
  font-family: "Almarai", sans-serif;
}
.cta {
  flex: 1;
  padding: 20px 0px 0px 0px;
}
